# Server
PORT=3000

# PostgreSQL
POSTGRES_DB=ciber_sim
POSTGRES_USER=devuser
POSTGRES_PASSWORD=devpassword
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
DATABASE_URL=postgresql://devuser:devpassword@localhost:5432/ciber_sim
